main.home
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem.jpg`,
	//- 	alt: 'Мемчик',
	//- }).home__picture#hello

	//- p.home__text#necessarily
	//- 	| Это стартовый шаблон для верстки!
	//- 	br
	//- 	br
	//- 	| Обязательно посмотри реализацию:
	//- 	br
	//- 	| pug в папке #[code pug/(components|pages)],
	//- 	br
	//- 	| js в папке #[code js/(components|modules|pages)],
	//- 	br
	//- 	| scss в папке #[code scss/(components|pages)]
	//- 	br
	//- 	br
	//- 	| Не используемые части кода/компонентов можно просто отключить (удалять не рекомендуется)
	//- 	br
	//- 	br
	//- 	| Не забывай читать #[a(href="https://github.com/ninelines-team/ninelines-docs" target="_blank") документацию]!

	//- //- picture.home__picture.home__picture--2#bye
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem-2.jpg`,
	//- 	alt: 'Мемчик 2',
	//- }, [
	//- 	{
	//- 		srcset: `${baseDir}images/mem-2.jpg`,
	//- 	}
	//- ]).home__picture.home__picture--2#bye

	//- +lazyPicture({
	//- 		src: `${baseDir}images/Desktop-Topper-Separator.svg`,
	//- 		alt: 'Topper Desktop Wave',
	//- 	}).topper-desktop-wave
	img.topper-desktop-wave(src="/images/Desktop-Topper-Separator.svg" alt="Topper Desktop Wave")

	section#about
		.logo-wrap
			img.logo(src="/images/Logo.svg" alt="Логотип")

		div

		div
			h1
				| Андрей,
				br
				| Front-end разработчик

			p.description.slideUp
				| Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь,
				| что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение,
				| наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках
				| пользователя. Я считаю, что ориентированные на пользователя решения являются
				| наиболее ценными цифровыми ресурсами будущего.

		.comunication
			.contacts.sildeRight
				a.mail(href="mailto:andrey.polenok@gmail.com") andrey.polenok@gmail.com

				a.tel(href="tel:+79152068407") +7 (915) 206 84-07

				address г. Москва

				.social
					.social-link.share-btn(data-social="fb")
						+svg("fb")
					.social-link.share-btn(data-social="vk")
						+svg("vk")
					.social-link.share-btn(data-social="tg")
						+svg("tg")

		+lazyPicture({
				src: `${baseDir}images/SeparatorTop.svg`,
				alt: 'Top Separator',
			}).top-wave-separator

		img.central-wave-separator(src="/images/Desktop-Wave-Center.svg" alt="Central wave separator")

	.experience
		section#work-places
			h2 Опыт работы

			.job-list.slideTop
				each item in homepage.experience
					.job-item
						.date
							!= item.date
						.job-head
							span.title
								!= item.title
							if item.icon.url
								img.icon(src=item.icon.url alt=item.icon.alt)
						.company
							if item.company.logo
								img(src=item.company.logo alt=item.company.logo.alt)
							.info
								if item.company.name
									span.name
										!= item.company.name
								span.description
									!= item.company.description
						.description
							!= item.description
						.links
							each link in item.links
								if link.url
									div
										a(href=link.url)
											!= link.text

		.fling-guy-box
			.guy-wrap
				+lazyPicture({
						src: `${baseDir}images/Guy/guy.png`,
						alt: 'Flying guy',
					}).guy

		section#education
			h2 Образование

			.places-list.sildeTop
				each item in homepage.education
					.places-item
						if item.icon.url
							img.icon(src=item.icon.url alt=item.icon.alt)
						.title
							!= item.title
						.description
							!= item.description

			img.bottom-wave-separator(src="/images/SeparatorBottom.svg" alt="Bottom Separator")

	section#skills
		img.bottom-desktop-wave-separator(src="/images/Desktop-Wave-Bottom.svg" alt="Bottom Separator")

		h2 Навыки

		.skills-list.bounceOut
			each item in homepage.skills
				.skills-item
					.title
						!= item.title
					.description
						!= item.description

	.arm-wrap
		+lazyPicture({
			src: `${baseDir}images/Arms/arms.png`,
			alt: 'Heart arms',
		}).arms-picture

	include ../elements/toTopButton
