main.home
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem.jpg`,
	//- 	alt: 'Мемчик',
	//- }).home__picture#hello

	//- p.home__text#necessarily
	//- 	| Это стартовый шаблон для верстки!
	//- 	br
	//- 	br
	//- 	| Обязательно посмотри реализацию:
	//- 	br
	//- 	| pug в папке #[code pug/(components|pages)],
	//- 	br
	//- 	| js в папке #[code js/(components|modules|pages)],
	//- 	br
	//- 	| scss в папке #[code scss/(components|pages)]
	//- 	br
	//- 	br
	//- 	| Не используемые части кода/компонентов можно просто отключить (удалять не рекомендуется)
	//- 	br
	//- 	br
	//- 	| Не забывай читать #[a(href="https://github.com/ninelines-team/ninelines-docs" target="_blank") документацию]!

	//- //- picture.home__picture.home__picture--2#bye
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem-2.jpg`,
	//- 	alt: 'Мемчик 2',
	//- }, [
	//- 	{
	//- 		srcset: `${baseDir}images/mem-2.jpg`,
	//- 	}
	//- ]).home__picture.home__picture--2#bye

	section#about
		.logo-wrap
			+lazyPicture({
				src: `${baseDir}images/Logo.svg`,
				alt: 'Логотип',
			}).logo

		div

		div
			h1
				| Андрей,
				br
				| Front-end разработчик

			p.description
				| Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь,
				| что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение,
				| наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках
				| пользователя. Я считаю, что ориентированные на пользователя решения являются
				| наиболее ценными цифровыми ресурсами будущего.

		.comunication
			.contacts
				a.mail(href="mailto:andrey.polenok@gmail.com") andrey.polenok@gmail.com

				a.tel(href="tel:+79152068407") +7(915)206-84-07

				address г. Москва

				.social
					a.social-link(href="https://facebook.com" target="_blank")
						+svg("fb")
					a.social-link(href="https://vk.com" target="_blank")
						+svg("vk")
					a.social-link(href="https://t.me" target="_blank")
						+svg("tg")

	section#experience
		h2 Опыт работы

		.job-list
			each item in homepage.experience
				.job-item
					.date
						!= item.date
					.job-head
						span.title
							!= item.title
						if item.icon.url
							img.icon(src=item.icon.url alt=item.icon.alt)
					.company
						if item.company.logo
							.logo
								img(src=item.company.logo alt=item.company.logo.alt)
						div
							.name
								!= item.company.name
							.description
								!= item.company.description
					.description
						!= item.description
					.links
						each link in item.links
							a(href=link.url)
								!= link.text

		.fling-guy-box
			img.guy(src="/images/guy.png" alt="Flying guy")

	section#education
		h2 Образование

		.places-list
			each item in homepage.education
				.places-item
					+svg(item.icon).icon
					.title
						!= item.title
					.description
						!= item.description

	section#skills
		h2 Навыки

		.skills-list
			each item in homepage.skills
				.item
					.title
						!= item.title
					.description
						!= item.description

	+lazyPicture({
		src: `${baseDir}images/arms.png`,
		alt: 'Heart arms',
	}).logo