main.home
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem.jpg`,
	//- 	alt: 'Мемчик',
	//- }).home__picture#hello

	//- p.home__text#necessarily
	//- 	| Это стартовый шаблон для верстки!
	//- 	br
	//- 	br
	//- 	| Обязательно посмотри реализацию:
	//- 	br
	//- 	| pug в папке #[code pug/(components|pages)],
	//- 	br
	//- 	| js в папке #[code js/(components|modules|pages)],
	//- 	br
	//- 	| scss в папке #[code scss/(components|pages)]
	//- 	br
	//- 	br
	//- 	| Не используемые части кода/компонентов можно просто отключить (удалять не рекомендуется)
	//- 	br
	//- 	br
	//- 	| Не забывай читать #[a(href="https://github.com/ninelines-team/ninelines-docs" target="_blank") документацию]!

	//- //- picture.home__picture.home__picture--2#bye
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem-2.jpg`,
	//- 	alt: 'Мемчик 2',
	//- }, [
	//- 	{
	//- 		srcset: `${baseDir}images/mem-2.jpg`,
	//- 	}
	//- ]).home__picture.home__picture--2#bye

	section#about
		.logo-wrap
			+lazyPicture({
				src: `${baseDir}images/Logo.svg`,
				alt: 'Логотип',
}).logo
	div

	div
		h1
			| Андрей,
			br
			| Желаемая позиция

		p.description
			| Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь,
			| что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение,
			| наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках
			| пользователя. Я считаю, что ориентированные на пользователя решения являются
			| наиболее ценными цифровыми ресурсами будущего.

	.comunication
		.contacts
			a.mail(href="mailto:andrey.polenok@gmail.com") andrey.polenok@gmail.com

			a.tel(href="tel:+79152068407") +7(915)206-84-07

			address г. Москва

			.social
				a.social-link(href="https://facebook.com" target="_blank")
					+svg("fb")
				a.social-link(href="https://vk.com" target="_blank")
					+svg("vk")
				a.social-link(href="https://t.me" target="_blank")
					+svg("tg")

	section#experience
		h2 Опыт работы

		.work-list
			each work in homepage.worklist
				.work-item
					.date
						!= work.date
					.title
						!= work.title
					.company-name
						!= work.companyName
					.company-desc
						!= work.companyDesc
					.description
						!= work.description
					.links
						each link in work.links
							a(href=link.url)
								!= link.text

			//- .work-item
			//- 	.date
			//- 		| Июль 2019
			//- 	.title
			//- 		| Freelance Designer
			//- 	.company-name
			//- 		| Netherlands, Worldwide
			//- 	.description
			//- 		| Available for a project or job in UX/UI, Visual and Product design.
			//- 	.links
			//- 		a(href="#")
			//- 			| Commercial tryouts
			//- 		a(href="#")
			//- 			| Personal projects

			//- .work-item
			//- 	.date
			//- 		| Январь 2017 - Сентябрь 2018
			//- 	.title
			//- 		| Digital Designer
			//- 	.company-name
			//- 		| J Creative Solutions
			//- 	.company-desc
			//- 		| Digital agency in Minsk, Belarus
			//- 	.description
			//- 		| Created visuals for digital marketing channels such as social media,
			//- 		| promo web and online ads. Developed visual language from scratch or
			//- 		| following the branding guidelines. Designed presentationsfor clients
			//- 		| and indoor purposes.
			//- 	.links
			//- 		a(href="#")
			//- 			| Agency projects

			//- .work-item
			//- 	.date
			//- 		| Март 2014 - Февраль 2017
			//- 	.title
			//- 		| SEO Specialist → Lead SEO Specialist
			//- 	.company-name
			//- 		| OZ.by
			//- 	.company-desc
			//- 		| Online bookstore in Minsk, Belarus
			//- 	.description
			//- 		| Improved website performance and user experience of the biggest online
			//- 		| bookstore OZ in Belarus, being a part of the marketing team,
			//- 		br
			//- 		| I interpreted Google Analytics data to IT, content and marketing colleagues.
			//- 		| Advised on tech and content optimization strategy, automated processes,
			//- 		| provided reports, increased organic traffic up to 150%.
			//- 	.links
			//- 		a(href="#")
			//- 			| Annual company report 2016